.login-page
  display: flex
  justify-content: space-evenly
  align-items: center
  height: 100vh
  width: 100vw
  background-color: lighten(#3f51b5, 50%)
  flex-direction: column

  .header
    &.fake
      visibility: hidden
    .icon
      font-size: 4em
      color: #3f51b5

  .container
    width: 60%
    display: flex
    border-radius: 10px
    position: relative
    background-color: white
    overflow: hidden
    border: #3f51b5 thin solid

    .login-form, .signup-form
      padding: 50px
      flex: 1
      display: flex
      flex-direction: column

      .title
        font-size: 2.25em
        font-weight: bold
        color: #333333
        margin-bottom: 20px

      .input
        margin: 10px 0

      .button
        margin-top: 20px
        align-self: flex-end

      .spacer
        flex: 1

    .separator
      align-self: stretch
      min-width: 2px
      background-color: #3f51b5
      opacity: .8
    
    