
.landing-page
  .header
    height: 100vh
    background-color: #3f51b5
    // width: 100%
    display: flex
    flex-direction: column

    .menu
      position: relative
      display: flex
      color: white
      padding: 40px 0px
      width: 80%
      margin: 0 auto
      padding-bottom: 10px
      align-items: center
      font-size: 1.2em

      .spacer
        flex: 1

      // .scroll-link
      //   margin: 0 30px
      //   cursor: pointer
      //   &:hover
      //     text-decoration: underline

      .login-link
        text-decoration: none
        .button
          // margin: 0 30px
          background-color: white
          font-size: .8em
          font-weight: bold
          color: #555
        
    .container
      background-color: white
      height: 70%
      width: 80%
      margin: auto
      margin-top: 40px
      border-radius: 10px
      display: flex

      .left, .right
        flex: 1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        .title
          font-size: 3.25em
          font-weight: bold
          margin-bottom: 25px
          letter-spacing: 1px
        
        .description
          margin: 0 100px
          font-size: 1.1em
          // letter-spacing: .2px
          text-align: center

        .preview-image
          width: 100%
    
    .details-button
      margin: auto
      color: white
      text-align: center
      cursor: pointer

  .info-section
    // height: 75vh
    background-color: white
    display: flex

    .info
      flex: 1
      padding: 100px 50px
      text-align: center

      .icon
        display: block
        margin: auto
        font-size: 7.5em
        color: #3f51b5
        

      .title
        font-size: 2.6em
        font-weight: bold
        color: #444444
        // color: white
        // background-color: #3f51b5
        // display: inline-block
        // padding: 5px 20px
        // border-radius: 5px
        margin-top: 60px

      .content
        font-size: 1.15em
        margin-top: 25px
        font-weight: #333333
        text-align: justify

    // .container
    //   flex: 1
    //   display: flex

    //   .left, .right
    //     flex: 1
    //     display: flex
    //     flex-direction: column
    //     justify-content: center
    //     align-items: center
    //     color: white

    //     .title
    //       font-size: 3em
    //       font-weight: bold
    //       margin-bottom: 25px
    //       letter-spacing: 1px
        
    //     .description
    //       margin: 0 100px
    //       font-size: 1.1em
    //       // letter-spacing: .2px
    //       text-align: center

    //     .placeholder
    //       color: black
    //       font-size: 3em
    //       width: 400px
    //       height: 500px
    //       background-color: white
    //       border-radius: 20px
    //       display: flex
    //       align-items: center
    //       text-align: center

    //     .info-cards
    //       display: flex
    //       margin-top: 60px
    //       position: relative
    //       flex-wrap: wrap
    //       justify-content: center

    //       .card
    //         padding: 30px
    //         // max-width: 25%
    //         border-radius: 10px
    //         margin: 20px
    //         width: 250px
    //         text-align: center

    //         .card-title
    //           text-align: center
    //           font-weight: bold
    //           font-size: 1.75em
    //           color: #444

    //         .card-content
    //           margin-top: 15px