.document-view
    width: 80%
    max-width: 1000px
    .docs
        display: flex
        flex-wrap: wrap
        // justify-content: space-evenly
        
        .document
            // margin-right: 25px
            margin: 0 12.5px
            margin-top: 30px
            width: 30%
            border: #3f51b5 3px solid
            box-sizing: border-box
            border-radius: 8px
            img
                width: 95%
                margin: 3px auto
                display: block

            .details
                overflow-y: auto
                height: 230px
                .avatar
                    background-color: #3f51b5
        
        .add-doc
            margin: 0 12.5px
            margin-top: 30px
            width: 30%
            border: #3f51b5 3px solid
            box-sizing: border-box
            border-radius: 8px
            display: flex
            justify-content: center
            min-height: 350px
            .box
                width: 100%
                display: flex
                justify-content: center
                align-items: center
                margin: 5px 5px
                background-color: lighten( #3f51b5, 25%)
            
            .add-button
                background-color: white


    // .scroll
    //     overflow-x: scroll
    //     white-space: nowrap
    //     width: 100vw 
    //     img
    //         height: 250px
    //         border: 3px#294addda solid
    //         margin: 10px 10px
    //         padding: 5px
    //         border-radius: 12px
    //         box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px
    // .storedInfo
    //     display: flex
    //     img
    //         width: 50%
    //         flex: 1
    //     .infoTable
    //         flex: 1            