.document-view
    .scroll
        overflow-x: scroll
        white-space: nowrap
        width: 100vw 
        img
            height: 250px
            border: 3px#294addda solid
            margin: 10px 10px
            padding: 5px
            border-radius: 12px
            box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px